.quote-pink{
	clear:both;
	background-color:$brand-secondary;
	padding:60px 0;
	h3{
		color:white;
		text-transform: uppercase;
	}
	p{
		color:white;
		font-size: 17px;
		font-family: 'Montserrat', sans-serif;
		line-height: 27px;
		font-weight: 300;
	}
}

.quote-aqua{
	clear:both;
	background-color:$brand-primary;
	background-image:url(../images/banner.jpg);
	background-repeat:repeat;
	padding:40px 0;
	h3{
		color:white;
		text-transform: uppercase;
		line-height: 39px;
		margin-bottom: 20px;
		font-size: 30px;
	}
	p{
		color:white;
		font-size: 17px;
		font-family: 'Montserrat', sans-serif;
		line-height: 27px;
		font-weight: 300;
	}
	img{
		  margin-right: 20px;
	}
}