// Glyphicons font path
$icon-font-path:        "../fonts/";

$open-sans-bold:        "Open Sans Condensed", sans-serif;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$small-screen: 768px;
$medium-screen: 960px;

// Colors
$brand-primary:         #00b8b6;
$brand-secondary:       #ff0086;
$brand-tertiary:        #ffefed;

$panel-primary-border:        transparent;

